<ul class="pager">
                {% if page.previous %}
                <li class="previous">
                    <a href="{{ page.previous.url | relative_url }}">
                        <span aria-hidden="true">&larr;</span> Older
                    </a>
                </li>
                {% endif %} {% if page.next %}
                <li class="next">
                    <a href="{{ page.next.url | relative_url }}">
                      Newer <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                {% endif %}
</ul>