---
layout: default
---

<div class="container">
    <div class="row">
<!-- 사이드바 시작 -->
        <div class="col-md-3">
<!-- 숨은 메뉴 시작 --> 
            <div>
                <dvi class="list-group-item visible-xs collapsed" data-toggle="collapse" data-target="#catesidebar" aria-expanded="false" aria-controls="catesidebar">
                    <a>Catetories</a>  
                    <span class="caret"></span>
                </dvi>
            </div>
            
            

<!-- 숨은 메뉴 끝 -->    
            <div id="catesidebar"  class="collapse navbar-collapse catesidebar" >        

 {% for category in site.categories %}
  <span class="name"> {{ category | first }} </span> <span class="badge">{{ category | last | size }}</span>
  <ul>
    {% for post in category[1] limit:5 %}
      <li class="list-group-item"><a href="{{ post.url }}"{% if page.title==post.title %}  class="text-warning" {% endif %}>  {{ post.title | truncate:15 }}</a> </li>
    {% endfor %}
  </ul>
{% endfor %}             
            </div>       
        </div>

        <div class="col-md-7">
            <h1>{{ page.title }}</h1><span class="badge">{{ post.date | date: '%Y. %m. %d' }}</span>
            <div id="markdown-content-container">{{ content }}</div>
            <div style="clear:both;">
              <p class="text-center">
                <br />
                <a href="#" class="btn btn-default" role="button">
                  <i class="fa fa-pencil fa-lg"></i> Top
                </a>
              </p>
            </div>
            <hr>
   {% include post_section_nav.html %}
    
            
{% for category in site.categories %}
 {% if page.category == category.first %}
  <span class="name"> {{ category | first }} </span> <span class="badge">{{ category | last | size }}</span>
  <ul>
    {% for post in category[1] %}
      <li class="list-group-item"><a href="{{ post.url }}"{% if page.title==post.title %}  class="text-warning" {% endif %}>  {{ post.title | truncate:50 }}</a>  <div class="badge">{{ post.date | date: '%Y. %m. %d' }}</div></li>
    {% endfor %}
  </ul>
    {% endif %}
{% endfor %}                          
                                    


       </div>

    </div>
</div>
